/* ##################### */
/* ##################### */
/* ### Default Theme ### */
/* ##################### */
/* ##################### */

.atp-number-color {
    color: black;
}

.atp-number-selected {
    color: white;
}

.atp-background-color {
    background-color: white;
}

.atp-face-color {
    background-color: rgb(238, 238, 238);
}

/* ##################### */
/* ##################### */
/* #### Positioning #### */
/* ##################### */
/* ##################### */

.atp {
    width: 100%;
    cursor: default;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
    font-family:"Helvetica", "Arial", sans-serif;
}

.atp-clock-cnt {
    padding: 2em 1em 1em 1em;
}

.atp-clock {
    width: 100%;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.atp-clock::before {
	content: "";
	display: block;
	padding-top: 100%; 	/*ratio of 1:1*/
}

.atp-clock>* {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.atp-face {
    border-radius: 100%;
}

.atp-ns {
    transform: scale(1);
    transition: transform 0.3s, opacity 0.05s;
    display: flex;
}

.atp-h-cnt-cnt {
    display: flex;
    align-items: center;
}

.atp-h-cnt-cnt-dot {
    justify-content: center;
}

.atp-h-cnt {
    height: 1.65em;
    display: flex;
    transition: transform 0.1s;
    transform-origin: 100% 50%;
    width: 50%;
    align-items: center;

    /* initial angle */
    transform: rotate(1.5708rad);
}

.atp-h-dot {
    height: 0.3em;
    width: 0.3em;
    border-radius: 50%;
}

.atp-h {
    height: 0.1em;
    flex: 1;
}

.atp-n-box {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
}

.atp-n-cnt {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0.5em;
}

.atp-n-cnt>* {
    float: left;
}

.atp-n {
    width: 1.3em;
    text-align: center;
    line-height: 1.3em;
    height: 1.3em;
    transition: color 0.1s;
}

.atp-clock *::selection {
    background: transparent;
}

.atp-n-pad {
    width: 0.8em;
    height: 1px;
}

.atp-n-cnt-1 {
    transform: rotate(120deg);
}

.atp-n-1 {
    transform: rotate(-120deg);
}

.atp-n-cnt-2 {
    transform: rotate(150deg);
}

.atp-n-2 {
    transform: rotate(-150deg);
}

.atp-n-cnt-3 {
    transform: rotate(180deg);
}

.atp-n-3 {
    transform: rotate(-180deg);
}

.atp-n-cnt-4 {
    transform: rotate(210deg);
}

.atp-n-4 {
    transform: rotate(-210deg);
}

.atp-n-cnt-5 {
    transform: rotate(240deg);
}

.atp-n-5 {
    transform: rotate(-240deg);
}

.atp-n-cnt-6 {
    transform: rotate(270deg);
}

.atp-n-6 {
    transform: rotate(-270deg);
}

.atp-n-cnt-7 {
    transform: rotate(300deg);
}

.atp-n-7 {
    transform: rotate(-300deg);
}

.atp-n-cnt-8 {
    transform: rotate(330deg);
}

.atp-n-8 {
    transform: rotate(-330deg);
}

.atp-n-cnt-10 {
    transform: rotate(30deg);
}

.atp-n-10 {
    transform: rotate(-30deg);
}

.atp-n-cnt-11 {
    transform: rotate(60deg);
}

.atp-n-11 {
    transform: rotate(-60deg);
}

.atp-n-cnt-0 {
    transform: rotate(90deg);
}

.atp-n-0 {
    transform: rotate(-90deg);
}

.atp-b,
.atp-b-spacer {
    width: 1.65em;
}

.atp-b-spacer {
    height: 1px;
}

.atp-b {
    height: 1.65em;
    border-radius: 1.65em;
}

.atp-b-pos {
    width: 0.32em;
    transition: width 0.1s;
    height: 1px;
    display: inline-block;
}

.atp-b-pos-pm {
    width: 2.42em
}

.atp-clock-btn {
    padding-top: 2em;
    display: flex;
    flex-direction: row-reverse;
}

.atp-time {
    color: white;
    font-size: 350%;
    padding: 0.3em;
    text-align: right;
}

.atp-time .atp-hour,
.atp-time .atp-minute {
    font-size: 100%;
    width: 1.3em;
    background: transparent;
    border: 0;
    color: white;
    outline-width: 0;
    opacity: 0.7;
}

.atp-hour.atp-focus,
.atp-minute.atp-focus,
.atp-am[aria-pressed],
.atp-pm[aria-pressed] {
    opacity: 1;
}

.atp-time .atp-hour {
    text-align: right;
}

.atp-ampm {
    display: inline-block;
}

.atp-am,
.atp-pm {
    background: transparent;
    border: 0;
    display: block;
    text-transform: uppercase;
    color: white;
    outline-width: 0;
    /* parent is at 350% */
    font-size: 28%;
    cursor: pointer;
    opacity: 0.7;
}

button.atp-enforce-font-size {
    font-size: 100%;
    min-width: 0;
} 

/* ############################################################ */
/* ############################################################ */
/* #### Default values for material styles, if not applied #### */
/* ############################################################ */
/* ############################################################ */

.atp-color--primary {
    background-color: rgb(0,150,136);
}

.atp-button{
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #000;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;

    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.atp-button--primary{
    color: rgb(0,150,136);
}

.atp-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
}